---
import Layout from '../layouts/Layout.astro';
import ThumbnailProduct from '../features/products/components/Thumbnail/ThumbnailProduct.astro';
import { queryGetProducts } from '../features';

const response = await fetch(`https://${import.meta.env.PUBLIC_STORE_DOMAIN}/api/2023-07/graphql.json`, {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
    "X-Shopify-Storefront-Access-Token": `${import.meta.env.STOREFRONT_API_TOKEN}`
  },
  body: JSON.stringify({
    query: queryGetProducts,
  variables: {
        first: 20,
      },
  })
})

const results = await response.json()
const listProducts = results?.data?.products?.edges
---

<Layout title="Welcome to Astro.">
  <main class="mx-auto max-w-screen-xl">
    <ul class="grid grid-cols-3 gap-4">
      {listProducts?.map((el: {
        node: {
          id: string,
          title: string,
          handle: string,
          description: string,
          images: {
            nodes: [{
              url: string,
              width: number,
              height: string,
              altText: string
            }]
          },
        }
      }) => {
        const product = el?.node
        const images = product?.images?.nodes
        return <li>
          
          <ThumbnailProduct id={product.handle}
            banner={images?.[0]?.url}
            description={product?.description}
            title={product.title}
          />
        </li>
      })}
    </ul>

  </main>
</Layout>
